.customHeader{
    background-color: var(--black);
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);   
}

.headerDiv{
    padding-left: 40px;
    padding-right: 40px;
}

/* Main logo */
.logo {
  position: relative; /* allows absolute positioning for Safari */
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 40px; /* scales with screen */
  color: var(--white);
  display: inline-block;
  letter-spacing: 0.1px;
  margin-bottom: 0px;
  transition: transform 0.2s ease;
}

/* Safari text at top-right */
.safari {
  position: absolute;
  top: -8px;  /* slightly above the main text */
  right: -53px; /* slightly to the right */
  font-size: 0.5em; /* smaller than main logo */
  color: var(--gray2);
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(201, 162, 77, 0.7); /* subtle gold glow */
  transition: transform 0.2s ease;
  
}

.hamburgerDiv{
    color: var(--white);
    align-self: center;
    border: 2px solid var(--gray2);
    padding: 10px;
    border-radius: 10px;
    display: none;
}



.myBookings{
    color: var(--white);
    align-self: center;
    letter-spacing: -0.5px;
    font-size: 22px;
    border: 2px solid var(--gray2);
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 0px;
    transition: transform 0.2s ease;
}


.cartDiv{
    align-self: center;
    position: relative;
    border-radius: 4px;
    padding: 10px;
    padding-right: 10px;
    color: var(--white);
    border: 2px solid var(--gray2);
    transition: transform 0.2s ease;
}

.cartCount{
    position:absolute;
    top:-10px;
    right: -14px;
    background-color: var(--white);
    border-radius: 5px;
    color:var(--black);
    padding: 0px 5px 2px 5px;
}

.rightCorner{
        gap: 25px;
    }

.listMain li:hover,
.safari:hover,
.logo:hover,
.myBookings:hover,
.cartDiv:hover,
.hamburgerDiv:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease; /* smooth scaling */
}

.listMain li:hover,
.myBookings:hover,
.cartDiv:hover,
.hamburgerDiv:hover{
    border: 2px solid var(--white);
}

.safari,.logo,.myBookings,.cartDiv,.hamburgerDiv
{
    cursor: pointer;
}

.FaCart,.FaHumberger{
    font-size: 25px;
}

.toursList{
    padding: 0px 60px 10px 60px;
}


.listMain{
    display: flex;
    font-size: 21px;
    justify-content: center;
    row-gap: 15px; /* Specifically controls vertical spacing between rows */
    column-gap: 25px;
    list-style: none;
    color: var(--white);
    flex-wrap: wrap;
    line-height: 1.5;   
    margin-bottom: 20px;
}


.listMain li {
  padding: 6px 10px;
  border-radius: 6px;
  border: 2px solid transparent;
  background: rgba(255, 255, 255, 0.08);
  transition: all 0.25s ease;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.mobileShowItems{
    display: none;
}







.navlinks{
    color: inherit;
    text-decoration: none;
}








@media (max-width: 767px) {

    .headerDiv{
    padding-left: 10px;
    padding-right: 10px;
}
    
    .logo{
        font-size: 35px;
    }
    .safari{
        font-size: 20px;
    }

    .FaCart,.FaHumberger{
    font-size: 25px;
}
    .myBookings{
        font-size: 20px;
    }
    .cartCount{
        font-size: 15px;
    }

    .hamburgerDiv{
        display: block;
    
    }

    .rightCorner{
        gap: 18px;
    }

.toursList{
    padding: 0px 0px 0px 0px;

}

    .listMain{
    display: none;
    flex-direction: column;
    font-size: 20px;
    row-gap: 10px;
    column-gap: 0px;
    padding: 0px;
    padding-bottom: 15px;
    position: absolute; 
    left: 0px;
    z-index: 1000;
    width: 100%;
    background: var(--black); 
    border-bottom: 1px solid rgba(72, 70, 70, 0.7);
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:12px ;
    box-shadow: 0 10px 20px rgba(34, 33, 33, 0.7);
}

.listMain li{
    background: rgba(255, 255, 255, 0.05);
    text-align: center;
    border: none;
    padding: 2px 0px 2px 0px;
    border-radius: 5px;
     border: 2px solid transparent;
     transform: scale(1);
    transition: all 0.4s ease-in-out;
    transition-property: transform, color, border-color;
    width: 95%;
    margin: auto;
}



.listMain li:hover{
 transform: scale(1.03);
 color: var(--white);
 border: 2px solid var(--gray2);
}

.menuOpen {
    display: flex;
  }

}




@media (max-width: 576px) {
    .myBookings{
        display: none;
    }
    .cartDiv{
        display: none;
    }
    .mobileShowItems{
    display: block;
}


    .logo{
        font-size: 33px;
        margin-bottom: 0px;
    }
    .headerDiv{
        padding-left: 0px;
        padding-right: 0px;
    }
    .cartDivMobile{
        margin-top: 10px;
        position: relative;
        padding: 2px 0px 3px 0px;
    }
    .FaCartMobile{
        font-size: 30px;
    }
    .cartCountMobile{
        position: absolute;
        top: -4px;
        border: 1px solid var(--gray2);
        background-color: var(--white);
        border-radius: 5px;
        color:var(--black);
        padding: 0px 3px 0px 3px;
        font-size: 16px;
    }

}